# Byte-compiled / cache files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
build/
dist/
*.egg-info/
.eggs/

# Virtual environments
venv/
env/
ENV/
.venv/

# Testing / coverage
.pytest_cache/
.coverage
htmlcov/
.tox/

# Type checkers
.mypy_cache/
.pyre/

# Jupyter Notebook
.ipynb_checkpoints/

# IDEs
.vscode/

# Vim swap files
*.swp
*.swo
*.swn

# OS files
.DS_Store

# Logs
*.log
